@font-face {
  font-family: 'Spectral';
  src: url("../fonts/Spectral-SemiBold.ttf");
}

@font-face {
  font-family: 'Spectral';
  src: url("../fonts/Spectral-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Spectral';
  src: url("../fonts/Spectral-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Spectral';
  src: url("../fonts/Spectral-Light.ttf");
  font-weight: lighter;
}

body {
  margin: 0;
}

* {
  font-family: 'Spectral', sans-serif;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#96228b), to(#ff840f));
  background: -webkit-linear-gradient(left, #96228b, #ff840f);
  background: -o-linear-gradient(left, #96228b, #ff840f);
  background: linear-gradient(to right, #96228b, #ff840f);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(150, 34, 139, 0.8)), to(rgba(255, 132, 15, 0.8))), url(../img/Background.jpg);
  background-image: -webkit-linear-gradient(left, rgba(150, 34, 139, 0.8), rgba(255, 132, 15, 0.8)), url(../img/Background.jpg);
  background-image: -o-linear-gradient(left, rgba(150, 34, 139, 0.8), rgba(255, 132, 15, 0.8)), url(../img/Background.jpg);
  background-image: linear-gradient(to right, rgba(150, 34, 139, 0.8), rgba(255, 132, 15, 0.8)), url(../img/Background.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  -webkit-transform: skewY(-10deg);
      -ms-transform: skewY(-10deg);
          transform: skewY(-10deg);
  margin-top: -20%;
}

.header {
  -webkit-transform: skewY(10deg);
      -ms-transform: skewY(10deg);
          transform: skewY(10deg);
  padding-top: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__content {
  width: 60%;
  padding-top: 18.18182%;
  color: #fff;
}

.header__content--title {
  font-weight: lighter;
  font-size: 5.2vw;
  line-height: 5vw;
}

.header__content--title span {
  font-weight: bold;
}

.header__content--text {
  font-size: 2.1vw;
  line-height: 2.6vw;
}

.header__content--btn {
  border: 0.25rem solid #fff;
  text-decoration: none;
  background: transparent;
  color: #fff;
  padding: 2% 4%;
  font-size: 2vw;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 992px) {
  .header__content--btn {
    border-width: .05rem !important;
  }
}

.header__content--btn:before {
  content: '';
  display: block;
  height: 100%;
  width: 0%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__content--btn:hover {
  color: #96228b;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header__content--btn:hover:before {
  -webkit-animation: hoverBtn 1s ease-in-out;
          animation: hoverBtn 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__banner {
  width: 40%;
  display: grid;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__banner img {
  width: 100%;
  height: auto;
  position: relative;
  top: 9.52381%;
}

@-webkit-keyframes hoverBtn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes hoverBtn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

main {
  margin-top: 15%;
}

.user-manual {
  color: #96228b;
}

.user-manual__title {
  font-weight: 500;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  font-size: 3vw;
  line-height: 4vw;
}

@media screen and (max-width: 992px) {
  .user-manual__title {
    font-size: 5vw;
    line-height: 5vw;
    max-width: 100%;
  }
}

.user-manual__list {
  margin: 4.5vw 8vw;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}

@media screen and (max-width: 992px) {
  .user-manual__list {
    margin: 4.5vw 4vw;
  }
}

.user-manual__list li {
  margin: 0 0 2.5vw 0;
  counter-increment: my-awesome-counter;
  position: relative;
  font-size: 2.3vw;
  font-weight: 500;
  line-height: 5vw;
}

@media screen and (max-width: 992px) {
  .user-manual__list li {
    font-size: 4vw;
  }
}

.user-manual__list li:before {
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  left: -webkit-calc(-1 * 5vw - 10px);
  left: calc(-1 * 5vw - 10px);
  line-height: 4.5vw;
  width: 4vw;
  height: 4vw;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#96228b), to(#ff840f));
  background: -webkit-linear-gradient(left, #96228b, #ff840f);
  background: -o-linear-gradient(left, #96228b, #ff840f);
  background: linear-gradient(to right, #96228b, #ff840f);
  text-align: center;
}

.characteristic {
  color: #96228b;
}

.characteristic__title {
  font-weight: 500;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  font-size: 3.3vw;
  line-height: 4vw;
}

@media screen and (max-width: 992px) {
  .characteristic__title {
    font-size: 5vw;
    line-height: 5vw;
    max-width: 100%;
  }
}

.characteristic__title span {
  font-weight: bold;
}

.characteristic__table {
  -webkit-box-shadow: 0 0 4.5rem -1rem rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 4.5rem -1rem rgba(0, 0, 0, 0.75);
  border-collapse: collapse;
  width: 85%;
  margin: 8vw auto;
}

.characteristic__table tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.characteristic__table tr:first-child td {
  min-height: 5rem;
  color: #96228b;
  font-weight: bold;
  font-size: 1.5vw;
}

@media screen and (max-width: 992px) {
  .characteristic__table tr:first-child td {
    min-height: 2rem;
  }
}

.characteristic__table tr:first-child td:nth-child(2) {
  color: #fff;
  margin-top: -2vw;
  background: -webkit-gradient(linear, left top, right top, from(#96228b), to(#ff840f));
  background: -webkit-linear-gradient(left, #96228b, #ff840f);
  background: -o-linear-gradient(left, #96228b, #ff840f);
  background: linear-gradient(to right, #96228b, #ff840f);
}

.characteristic__table tr td {
  width: 30%;
  border: 1px solid #e4e4e4;
  min-height: 6.5vw;
  color: #00d000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.characteristic__table tr td > i {
  font-size: 3vw;
}

.characteristic__table tr td:first-child {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.characteristic__table tr td:first-child p {
  width: 88%;
  color: #8b8484;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 1.75vw;
  margin: .5rem .75rem .5rem 0;
}

.characteristic__table tr td:first-child .icon {
  width: 12%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.characteristic__table tr td:first-child .icon i {
  color: #96228b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 2vw;
}

.tariff {
  max-width: 1400px;
  color: #96228b;
}

.tariff__title {
  font-weight: 500;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  font-size: 3.3vw;
  line-height: 4vw;
}

@media screen and (max-width: 992px) {
  .tariff__title {
    font-size: 5vw;
    line-height: 5vw;
    max-width: 100%;
  }
}

.tariff__plans {
  margin: 4vw auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.tariff__plans--col-3, .tariff__plans--col-6 {
  position: relative;
}

.tariff__plans--col-3 img, .tariff__plans--col-6 img {
  display: block;
  width: 100%;
  height: auto;
}

.tariff__plans--col-3 {
  max-width: 25%;
}

@media screen and (max-width: 1900px) {
  .tariff__plans--col-3 {
    max-width: 19.23077%;
  }
}

.tariff__plans--col-6 {
  max-width: 40%;
}

@media screen and (max-width: 1900px) {
  .tariff__plans--col-6 {
    max-width: 26.31579%;
  }
}

.tariff__plans--col-6 .tariff__plans--content {
  background: -webkit-gradient(linear, left top, right top, from(#b73956), to(#d9582d));
  background: -webkit-linear-gradient(left, #b73956, #d9582d);
  background: -o-linear-gradient(left, #b73956, #d9582d);
  background: linear-gradient(to right, #b73956, #d9582d);
}

.tariff__plans--col-3:first-child .tariff__plans--content {
  background: -webkit-gradient(linear, left top, right top, from(#95197e), to(#a72a68));
  background: -webkit-linear-gradient(left, #95197e, #a72a68);
  background: -o-linear-gradient(left, #95197e, #a72a68);
  background: linear-gradient(to right, #95197e, #a72a68);
}

.tariff__plans--col-3:last-child .tariff__plans--content {
  background: -webkit-gradient(linear, left top, right top, from(#d9601e), to(#fc7807));
  background: -webkit-linear-gradient(left, #d9601e, #fc7807);
  background: -o-linear-gradient(left, #d9601e, #fc7807);
  background: linear-gradient(to right, #d9601e, #fc7807);
}

.tariff__plans--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
      width: 88.4%;
    height: 78.5%;
    position: absolute;
    top: 0;
    margin: 21.7% 5.6%;
}

.tariff__plans--name, .tariff__plans--price {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.tariff__plans--name {
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
}

@media screen and (min-width: 1400px) {
  .tariff__plans--name {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 2000px) {
  .tariff__plans--name {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 992px) {
  .tariff__plans--name {
    font-size: 3vw;
  }
}

.tariff__plans--price {
  font-size: 2vw;
  min-height: 10vh;
}

@media screen and (min-width: 1400px) {
  .tariff__plans--price {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 992px) {
  .tariff__plans--price {
    min-height: 3vh;
  }
}

.tariff__plans--btn {
  border-width: 3px;
  margin: 10%;
}

.tariff__plans--btn:hover {
  background: #fff;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media screen and (min-width: 2000px) {
  .tariff__plans--btn {
    font-size: 1.3vw;
  }
}

.tariff__desc {
  font-weight: bold;
  opacity: .6;
  font-size: 1.6vw;
  text-align: center;
  margin: 0 auto 15vh;
}

@media screen and (min-width: 2000px) {
  .tariff__desc {
    font-size: 1vw;
  }
}

.ask {
  background: -webkit-gradient(linear, left top, right top, from(#96228b), to(#ff840f));
  background: -webkit-linear-gradient(left, #96228b, #ff840f);
  background: -o-linear-gradient(left, #96228b, #ff840f);
  background: linear-gradient(to right, #96228b, #ff840f);
  color: #fff;
}

.ask .wrapper {
  padding: 5vw 0 1vw;
}

.ask__title {
  font-weight: 500;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  font-size: 3.3vw;
  line-height: 4vw;
}

@media screen and (max-width: 992px) {
  .ask__title {
    font-size: 5vw;
    line-height: 5vw;
    max-width: 100%;
  }
}

.ask__clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5vw 0;
}

.ask__clients--client {
  max-width: 33.33333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.ask__clients--img {
  display: block;
  width: 15vw;
  height: 15vw;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.ask__clients--name {
  font-size: 2.5vw;
  margin-bottom: 0;
}

.ask__clients--response {
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2vw;
  margin-top: 0;
}

.footer {
  margin: 4vw auto;
  color: #96228b;
}

.footer__title {
  font-weight: 500;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  font-size: 3.3vw;
  line-height: 4vw;
}

@media screen and (max-width: 992px) {
  .footer__title {
    font-size: 5vw;
    line-height: 5vw;
    max-width: 100%;
  }
}

.footer__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3vw auto;
}

.form-art {
  width: 30vw;
  height: 45vw;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #96228b), to(#df6431));
  background: -webkit-linear-gradient(top left, #96228b 10%, #df6431);
  background: -o-linear-gradient(top left, #96228b 10%, #df6431);
  background: linear-gradient(to bottom right, #96228b 10%, #df6431);
  -webkit-border-radius: 10% 35% 35% 10%;
          border-radius: 10% 35% 35% 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0 0 4vw 0 rgba(255, 255, 255, 0.75);
          box-shadow: inset 0 0 4vw 0 rgba(255, 255, 255, 0.75);
  position: relative;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .form-art {
    display: none;
  }
}

.form-art__title {
  font-weight: 500;
  font-size: 2.7vw;
  line-height: 3vw;
  margin: 13vw 0 0 13%;
}

.form-art__title span {
  font-weight: bold;
}

.form-art__img {
  display: block;
  width: 70%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 13%;
}

.form-connect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-border-radius: 7%;
          border-radius: 7%;
  border: 1px solid #e4e4e4;
  padding: 2vw 6vw 2vw 17vw;
  margin-left: -10vw;
  -webkit-box-shadow: 0px 0px 4vw 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4vw 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 992px) {
  .form-connect {
    margin: 0 auto;
    padding: 3vw 5vw;
    width: 80%;
  }
}

.form-connect label {
  font-weight: 500;
  font-size: 1.8vw;
  opacity: .5;
  margin: 1vw 0 0;
}

@media screen and (max-width: 992px) {
  .form-connect label {
    font-size: 2.8vw;
  }
}

.form-connect input,
.form-connect textarea {
  height: 3vw;
}

.form-connect input,
.form-connect textarea,
.form-connect button {
  border: none;
  outline: none;
  border-bottom: 2px solid #e4e4e4;
  color: #96228b;
  font-size: 1.7vw;
  font-weight: bold;
  padding: .25rem .75rem;
}

@media screen and (max-width: 992px) {
  .form-connect input,
  .form-connect textarea,
  .form-connect button {
    font-size: 2.8vw;
  }
}

.form-connect textarea {
  resize: none;
}

.form-connect button {
  background: transparent;
  width: 60%;
  margin: 2vw auto;
  cursor: pointer;
  border: .3rem solid transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#96228b), to(#ff840f));
  -webkit-border-image: -webkit-linear-gradient(left, #96228b, #ff840f);
       -o-border-image: -o-linear-gradient(left, #96228b, #ff840f);
          border-image: -webkit-gradient(linear, left top, right top, from(#96228b), to(#ff840f));
          border-image: linear-gradient(to right, #96228b, #ff840f);
  border-image-slice: 1;
  position: relative;
}

.form-connect button:before {
  content: '';
  display: block;
  height: 110%;
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#96228b), to(#ff840f));
  background: -webkit-linear-gradient(left, #96228b, #ff840f);
  background: -o-linear-gradient(left, #96228b, #ff840f);
  background: linear-gradient(to right, #96228b, #ff840f);
  position: absolute;
  top: -2%;
  left: -2%;
  z-index: -1;
}

.form-connect button:hover {
  color: #fff;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.form-connect button:hover:before {
  -webkit-animation: hoverBtn_form  1s ease-in-out;
          animation: hoverBtn_form  1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hoverBtn_form {
  0% {
    width: 0%;
  }
  100% {
    width: 102.5%;
  }
}

@keyframes hoverBtn_form {
  0% {
    width: 0%;
  }
  100% {
    width: 102.5%;
  }
}


/*  Modal window */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  /*padding-top: 6%;
  padding-bottom: 6%;*/
  top: 0;
  font-family: 'Lora', serif;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(35, 7, 77, 0.7)), to(rgba(204, 83, 51, 0.6)));
  background: linear-gradient(to top, rgba(35, 7, 77, 0.7), rgba(204, 83, 51, 0.6));
}
.modal-content {
  margin: 5vh auto;
  position: relative;
  /*margin: auto;*/
  padding: 0;
  border: none;
  width: 60%;
  /* height: 100%; */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: animatetop 0.4s ease-in-out;
          animation: animatetop 0.4s ease-in-out;
}
@media screen and (max-width: 992px) {
  .modal-content {
    width: 90%;
    height: auto;
  }
}
.modal-body {
  background-color: #FFF;
  padding: 2.25rem 1.75rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.modal__title {
  font-weight: bold;
  font-size: 3vw;
}
.modal__text {
  overflow: auto;
  margin: 2rem 0 0;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  position: absolute;
  right: -1.375rem;
  top: -1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #cd0027;
  opacity: 1;
  cursor: pointer;
  z-index: 100;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 5px 0px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
@media screen and (max-width: 496px) {
  .close {
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.5rem;
    right: -7px;
    top: -7px;
  }
}
.close:hover, .close:focus {
  color: #fff !important;
  opacity: 1 !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal__text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.modal__text::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.modal__text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}